.card {
    border: 1px solid rgb(158, 149, 117);
    padding: 5px;
    background-color:rgba(240, 237, 227, 0.719);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    max-width: 500px;
    .tag {
       font-weight: 300;
    }
}